* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    width: 100%;
    font-size: 1.1em;
}

header {
    display: flex;
    align-items: center;
    color: #338a39;
    background: #d2ecd2;
    padding: 16px 64px;
    border-bottom: 1px solid #338a39;
    width: 100%;
    position: fixed;
    top: 0px;
}

.main {
    padding: 16px 64px;
    width: 100%;
    margin-top: 105px;
}

header a {
    color: inherit;
}

.certified-section__img {
    height: 32px;
    margin-right: 32px;
}

.certified-section__txt {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: end;
}

ul {
    list-style: decimal-leading-zero;
}

li {
    padding-left: 8px;
    margin: 8px 0px;
}

.first-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.powered-by {
    font-size: .7em;
    text-align: end;
    min-width: 300px;
    margin-left: 32px;
}

.draw-parameter {
    margin: 48px 0px;
}

.winners {
    display: none;
}

.winners h2 {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 265px;
}

.winners ul {
    color: #338a39;
}

.draw-parameter h2 {
    text-transform: uppercase;
}

.draw-parameter__value {
    font-size: 1.1em;
    line-height: 1.8em;
}

.draw-parameter__value a {
    color: #0000EE;
}

.verify-sentence {
    font-size: 0.8em;
}

code {
    padding: 0.2em 0.4em;
    margin: 0;
    white-space: break-spaces;
    background-color: rgba(175, 184, 193, 0.2);
    border-radius: 6px;
}

.fireworks {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
}

.lds-dual-ring {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 24px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #000000;
    border-color: #000000 transparent #000000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.draw-ongoing {
    display: none;
}

/* Modal */
.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0px;
}

.modal[open] {
    display: flex;
}

.model-inner {
    background-color: white;
    max-width: 60%;
    padding: 2em;
    margin: auto;
    font-size: 1.1em;
    line-height: 1.6em;
    overflow: scroll;
    height: 100%;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

#modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: black;
    opacity: 0.5;
}

.modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 2.2em;
    font-weight: 100;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}